<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.gabilheri.ilovemarshmallow"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:name=".MarshmallowApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:windowSoftInputMode="stateUnchanged|adjustResize"
      android:name=".ui.main.MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
      android:name=".ui.detail.DetailActivity"
      android:label="@string/app_name">

      <intent-filter>
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="http" android:host="marshmallow.gabilheri.com"/>
        <action android:name="android.intent.action.VIEW" />
      </intent-filter>

    </activity>

    <!-- Content Provider -->
    <provider
      android:name=".data.MarshmallowProvider"
      android:authorities="@string/content_authority"
      android:exported="false"
      android:syncable="true"/>

  </application>

</manifest>
